.App {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  /* align-items: baseline; */
  /* height: 90vh; */
}

.content {
  border-left: 250px; 
  background-color: beige;
  flex-basis: 80%; 
  overflow-y:scroll;
  height: 100vh;
}

.btn1:active {
  box-shadow: inset 1px 2px 2px 1px;
}